.videoSidebar {
  position: absolute;
  top: 50%;
  right: 10px;
  color: white;
}

.videoSidebar__options {
  padding: 20px;
  text-align: center;
}

.videoSidebar__options p,
.patternIcon:hover {
  cursor: pointer;
}

@media only screen and (max-height: 750px) {
  .videoSidebar {
    top: 45%;
  }
}

@media only screen and (max-height: 600px) {
  .videoSidebar {
    top: 40%;
  }
}
