html {
  scroll-snap-type: y mandatory;
}

.App {
  background-color: black;
  height: 100vh;
  display: grid;
  place-items: center;
}

.app__videos {
  height: 100vh;
  max-height: 800px;
  width: 80%;
  max-width: 500px;
  border-radius: 20px;
  overflow: scroll;
  scroll-snap-type: y mandatory;
  position: relative;
}

/* Esconde a scorllbar no chrome, safari e opera*/

.app__videos::-webkit-scrollbar {
  display: none;
}

/* Esconde a scrollbar no internet explorer, edge e firefox*/

.app__videos {
  -ns-overflow-style: none;
  scrollbar-width: none;
}
